{% block html_head_container %}

    {% include 'html-header.twig' %}
	{% block head %}
	{% endblock %}
	</head>
{% endblock %}

	<body class="{{body_class}} bg-body" data-template="base.twig">
		<header class="header" >
			{% block header %}
				<div class="bg-navcolor px-8 sm:px-16 lg:px-16 2xl:px-32 3xl:px-44 justify-center py-8 lg:flex  lg:flex-row">
                    <div class="flex w-full lg:w-1/3">
                        {# Hidden hamburger menu for mobile en tablet view #}
                        <div class="ml-8 sm:ml-0 md:ml-0 w-7 h-8 lg:hidden self-center" id="nav-icon">
                            <span class="block w-full h-0.5 bg-body my-1"></span>
                            <span class="block w-full h-0.5 bg-body my-1"></span>
                            <span class="block w-full h-0.5 bg-body my-1"></span>
                            <span class="block w-full h-0.5 bg-body my-1"></span>
                        </div>
                    
                        {# Logo website with link to home page #}
                        <div class="mx-auto lg:mx-0">
                            {% if custom_logo_url %}
                                <a class="" href="{{site.url}}" rel="home">
                                    <img src="{{custom_logo_url}}" alt="{{site.name}}">
                                </a>
                            {% else %}
                                <div class="" role="banner">
                                    <a class="" href="{{site.url}}" rel="home">{{site.name}}</a>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                   
					<nav id="nav-items" class="nav-main mt-8 w-full hidden lg:mt-0 mx-auto lg:mx-0 lg:text-2xl lg:flex  lg:items-center" role="navigation">
						{% include "menu.twig" with {'items': menuPrimary.get_items} %}
					</nav><!-- #nav -->
				</div>
			{% endblock %}
            {% block hero %}
                <img class="" src="{{ hero }}" alt="hero image">
            {% endblock %}
		</header>

        <section>
        </section>
		<section id="content" role="main" class="content-wrapper">
			{% if title %}
                <h1>{{title}}</h1>
            {% endif %}
			<div class="wrapper {{sidebar_class}}">
				{% block content %}
					Sorry, no content
				{% endblock %}
			</div>
			<div>
				{% block row %}
				{% endblock %}
			</div>
			{% if sidebar %}
				<aside class="layout-sidebar">
					{{sidebar}}
				</aside>
			{% endif %}
		</section>

		{% block footer %}
			<footer id="footer">
                <div class="bg-navcolor px-8 sm:px-16 lg:px-16 2xl:px-32 3xl:px-44">
				    {% include 'footer.twig' %}
                </div>
			</footer>
			{{ function('wp_footer') }}
		{% endblock %}
        <script src={{ site.theme.link }}/app.js></script>
	</body>
</html>
